* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
}
html {
    scroll-behavior: smooth;
}
  
body {
    background-color: #121212;
    background-size: 100vw;

    overflow-x: hidden;
    min-width: 320px;
}

:root{
    --header-height: 4vw;
}

main {
    position: relative;
    width: 100vw;
    padding: var(--header-height) 7vw 7vw 7vw;
    overflow: hidden;
}

/* /////////////// title ///////////////////////// */

.title {
    margin-block: 10vw 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.title-line {
    position: absolute;
    width: 1000px;
    height: 10px;
    background-color: #00f260;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
}
.title-line:first-child {
    left: -1015px;
}
.title-line:last-child {
    right: -1015px;
}

.title span {
    display: flex;
    flex-direction: column;
}

.title h1, .title h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.title h2 {
    font-size: 48px;
    color: #30FF68;
}

.title h1 {
    font-size: 110px;
    color: white;
}

.title h1::before{
    color: #30FF68;
    content: "#";
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #080A08;
}

*::-webkit-scrollbar-thumb {
    background: #30FF68;
    border-radius: 6px;
    border: 3px solid #1F1F1F;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gradient-h-line{
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #30FF68, rgba(0, 0, 0, 0) 80%);
}

.gradient-v-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background: linear-gradient(to bottom, #30FF68, rgba(0, 0, 0, 0) 80%)
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ preloader \\\\\\\\\\\\\\\\\\\\\\ */

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    transition: .5s;
}

.glitch {
    font-size: 100px;
    position: relative;
    font-family: 'Jomhuria', serif;
    letter-spacing: 10px;
    margin: 0 auto;
    transform: scale(2);
}

@keyframes noise-anim {
    0% {
        clip: rect(40px, 9999px, 53px, 0);
    }
    2% {
        clip: rect(15px, 9999px, 46px, 0);
    }
    4% {
        clip: rect(56px, 9999px, 78px, 0);
    }
    6% {
        clip: rect(93px, 9999px, 24px, 0);
    }
    8% {
        clip: rect(61px, 9999px, 1px, 0);
    }
    10% {
        clip: rect(26px, 9999px, 81px, 0);
    }
    12% {
        clip: rect(79px, 9999px, 63px, 0);
    }
    14% {
        clip: rect(39px, 9999px, 86px, 0);
    }
    16% {
        clip: rect(84px, 9999px, 60px, 0);
    }
    18% {
        clip: rect(91px, 9999px, 67px, 0);
    }
    20% {
        clip: rect(66px, 9999px, 84px, 0);
    }
    22% {
        clip: rect(28px, 9999px, 89px, 0);
    }
    24% {
        clip: rect(11px, 9999px, 76px, 0);
    }
    26% {
        clip: rect(58px, 9999px, 58px, 0);
    }
    28% {
        clip: rect(82px, 9999px, 97px, 0);
    }
    30% {
        clip: rect(27px, 9999px, 29px, 0);
    }
    32% {
        clip: rect(85px, 9999px, 67px, 0);
    }
    34% {
        clip: rect(47px, 9999px, 98px, 0);
    }
    36% {
        clip: rect(92px, 9999px, 24px, 0);
    }
    38% {
        clip: rect(41px, 9999px, 85px, 0);
    }
    40% {
        clip: rect(79px, 9999px, 71px, 0);
    }
    42% {
        clip: rect(21px, 9999px, 41px, 0);
    }
    44% {
        clip: rect(3px, 9999px, 95px, 0);
    }
    46% {
        clip: rect(29px, 9999px, 41px, 0);
    }
    48% {
        clip: rect(66px, 9999px, 47px, 0);
    }
    50% {
        clip: rect(54px, 9999px, 73px, 0);
    }
    52% {
        clip: rect(73px, 9999px, 61px, 0);
    }
    54% {
        clip: rect(76px, 9999px, 22px, 0);
    }
    56% {
        clip: rect(40px, 9999px, 59px, 0);
    }
    58% {
        clip: rect(6px, 9999px, 78px, 0);
    }
    60% {
        clip: rect(69px, 9999px, 84px, 0);
    }
    62% {
        clip: rect(35px, 9999px, 51px, 0);
    }
    64% {
        clip: rect(78px, 9999px, 84px, 0);
    }
    66% {
        clip: rect(62px, 9999px, 53px, 0);
    }
    68% {
        clip: rect(97px, 9999px, 46px, 0);
    }
    70% {
        clip: rect(55px, 9999px, 56px, 0);
    }
    72% {
        clip: rect(60px, 9999px, 83px, 0);
    }
    74% {
        clip: rect(19px, 9999px, 36px, 0);
    }
    76% {
        clip: rect(70px, 9999px, 54px, 0);
    }
    78% {
        clip: rect(69px, 9999px, 67px, 0);
    }
    80% {
        clip: rect(21px, 9999px, 78px, 0);
    }
    82% {
        clip: rect(91px, 9999px, 10px, 0);
    }
    84% {
        clip: rect(36px, 9999px, 40px, 0);
    }
    86% {
        clip: rect(45px, 9999px, 68px, 0);
    }
    88% {
        clip: rect(34px, 9999px, 4px, 0);
    }
    90% {
        clip: rect(99px, 9999px, 73px, 0);
    }
    92% {
        clip: rect(88px, 9999px, 43px, 0);
    }
    94% {
        clip: rect(7px, 9999px, 53px, 0);
    }
    96% {
        clip: rect(9px, 9999px, 5px, 0);
    }
    98% {
        clip: rect(22px, 9999px, 1px, 0);
    }
    100% {
        clip: rect(21px, 9999px, 69px, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -3px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(17px, 9999px, 89px, 0);
    }
    5% {
        clip: rect(48px, 9999px, 32px, 0);
    }
    10% {
        clip: rect(22px, 9999px, 17px, 0);
    }
    15% {
        clip: rect(32px, 9999px, 36px, 0);
    }
    20% {
        clip: rect(22px, 9999px, 46px, 0);
    }
    25% {
        clip: rect(48px, 9999px, 24px, 0);
    }
    30% {
        clip: rect(2px, 9999px, 41px, 0);
    }
    35% {
        clip: rect(94px, 9999px, 16px, 0);
    }
    40% {
        clip: rect(4px, 9999px, 10px, 0);
    }
    45% {
        clip: rect(90px, 9999px, 52px, 0);
    }
    50% {
        clip: rect(8px, 9999px, 74px, 0);
    }
    55% {
        clip: rect(21px, 9999px, 12px, 0);
    }
    60% {
        clip: rect(84px, 9999px, 21px, 0);
    }
    65% {
        clip: rect(58px, 9999px, 27px, 0);
    }
    70% {
        clip: rect(24px, 9999px, 35px, 0);
    }
    75% {
        clip: rect(44px, 9999px, 70px, 0);
    }
    80% {
        clip: rect(17px, 9999px, 66px, 0);
    }
    85% {
        clip: rect(42px, 9999px, 29px, 0);
    }
    90% {
        clip: rect(73px, 9999px, 17px, 0);
    }
    95% {
        clip: rect(69px, 9999px, 80px, 0);
    }
    100% {
        clip: rect(99px, 9999px, 50px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 3px 0 #0FEFEF;
    top: 2px;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 8s infinite linear alternate-reverse;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

header {
    width: 100vw;
    height: var(--header-height);
    position: fixed;
    z-index: 100;
    top: 0;
}

#header {
    border-width: 0 0 1px 0;
}

.logo {
    color: #ffffff;
    height: fit-content;
    font-size: 7vw;
    font-family: 'Jomhuria', serif;
    letter-spacing: 6px;
    position: absolute;
    display: inline-block;
    top: -1.5vw;
    left: 2%;
    margin: auto;
    text-decoration: none;
}

header>div {
    display: flex;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2%;
    margin: auto;
}

header>div>a>button, .mob-nav button {
    color: #30FF68;
    background-color: transparent;
    display: inline-block;
    min-width: fit-content;
    width: fit-content;
    height: 3vw;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-size: 1.2vw;
}
header>div>a>button:hover, .mob-nav button:hover {
    color: rgb(255, 255, 255);
    /* background-color: #30ff68; */
    border: none;
    border-radius: 5px;
}

.menu {
    right: 20px;
}

.menu i {
    display: none;
}

.mob-nav {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 150;
    gap: 5vh;
    padding: 50px;
    transform-origin: top right;
    transition: 1s;
}

.mob-nav-bg {
    width: 16vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    top: -8vw;
    right: -8vw;
    transition: .5s;
    transform: scale(0);
}

.mob-nav button {
    font-size: 5vw;
}

.mob-nav a {
    transition: .4s var(--delay);
    filter: blur(100px);
}

.social_medias {
    display: flex;
    position: fixed;
    top: 20%;
    width: 6.5vw;
    /* left: 2.5vw; */
    margin: auto;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    /* border: 1px solid rgb(100, 255, 79); */
    padding-block: 30px;
    border-radius: 0 25px 25px 0;
    /* background-color: #242323; */
}

.social_medias ul {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 30px;
}

.social_medias li {
    display: block;
    position: relative;
    width: 3.5vw;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    overflow: hidden;
}

.social_medias img {
    width: 2vw;
    filter: drop-shadow(0 0 5px #00f260);
}

.social_medias li::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 70%;
    transform: rotate(-45deg) translateY(-5vw);
    background: linear-gradient(to top,
    rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.5) 50%,
       rgba(255, 255, 255, 0.3) 90%,
       rgba(255, 255, 255, 0) 100%);
    transition: .4s;
}

@keyframes glass-shine-animation{
    from{
        transform: rotate(-45deg) translateY(-5vw);
    }
    to {
        transform: rotate(-45deg) translateY(5vw);
    }
}

.social_medias li:hover::after {
    transform: rotate(-45deg) translateY(4vw);
}

.social_medias a{
    cursor: pointer;
    position: relative;
    display: flex;
    width: 130%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: .6s;
}

.social_medias li:hover a{
    filter: drop-shadow(0 0 1px black)
    drop-shadow(0 0 2px black)
    drop-shadow(0 0 3px black);
    animation: wobble 1s ease-in-out;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\home\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#home {
    width: 100vw;
    height: 49vw;
    background-image: url("/assests/img/paper_bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.bg-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

#home .bg-image{
    background-image: url("/assests/img/disort_effect.jpg");
    mix-blend-mode: color-dodge;
    animation: float 5s ease-in-out infinite;
}

#home>section {
    flex-direction: column;
    position: absolute;
    top: 10vw;
    padding: 20px 100px 20px 20px;
    z-index: 2;
}

.hello {
    display: inline-block;
    font-size: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0 20px 0 0;
}

#home>section>.square {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #30FF68;
}

#home>section>.line {
    display: inline-block;
    width: 40px;
    height: 0;
    border: 2px solid #30FF68;
    margin: 0 5px 15px 0;
}

#home>section>h3 {
    display: inline-block;
    font-size: 80px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

#home>section>h4 {
    font-size: 50px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

#home>section>h4::before {
    content: "I'm a ";
    color: #30FF68;
}

#home a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: 15px;
}

.hire-btn {
    color: #ffffff;
    border-radius: 15px;
    width: 14vw;
    aspect-ratio: 4/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    z-index: 5;
    transition: .2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.hire-btn::before, .hire-btn::after{
    content: "";
    position: absolute;
}

.hire-btn::before {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) translateY(-8vw);
    background: linear-gradient(to top,
    rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.5) 50%,
       rgba(255, 255, 255, 0.3) 90%,
       rgba(255, 255, 255, 0) 100%);
    transition: .4s ease-in-out;
    filter: opacity(50%);
    z-index: -2;
}

.hire-btn:hover::before {
    transform: rotate(-45deg) translateY(8vw);
}

#home a:after {
    content: "";
    position: absolute;
    top: -8%;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
    height: 116%;
    border-radius: 15px;
    background-color: #00f260;
    box-shadow: 0 0 100px #00f260;
    z-index: -1;
    transition: .6s ease-in-out;
}

#home a:hover::after{
    width: 101%;
}
.hire-btn:hover {
    /* color: #000000;
    background-color: white; */
    font-size: 28px;
}

.hire-btn:hover section{
    color: black;
}

#home>section> .btn-ani{
    position: absolute;
    left: 11vw;
    width: 7vw;
    transform: rotateX(70deg) rotateY(-25deg);
}
.btn-ani .orbit .orbit-ring{
    background: conic-gradient(
      from 0deg,
      rgb(48, 255, 104),
      rgba(48, 255, 104, 0.02),
      rgba(0, 0, 0, 0)
    );
    -webkit-mask: radial-gradient(circle at center, transparent 65%, white 65%);
}
.hero_img_body {
    width:50vw;
    aspect-ratio: 5/4;
    position: absolute;
    bottom: 0;
    margin-top: 10vw;
    right: -5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.hero_img_body>.circle_line {
    width: 75%;
    aspect-ratio: 1/1;
    background-color: #000000;
    /* box-shadow: 0 0 15px #30FF68, inset 0 0 15px #30FF68; */
    /* border: 10px solid #ffffff; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    border-radius: 63% 37% 62% 38% / 32% 50% 50% 68% ;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;

    animation: circle_motaion_animation 12s ease-in-out infinite;
}

@keyframes circle_motaion_animation {
    from {
        border-radius: 46% 54% 50% 50% / 31% 51% 49% 69%  ;
    }
    25% {
        border-radius: 65% 35% 47% 53% / 55% 26% 74% 45% ;
    }
    50% {
        border-radius: 53% 47% 37% 63% / 49% 68% 32% 51% ;
    }
    75% {
        border-radius: 53% 47% 67% 33% / 63% 44% 56% 37% ;
    }
    to {
        border-radius: 46% 54% 50% 50% / 31% 51% 49% 69%  ;
    }
}

.hero_img {
    position: absolute;
    bottom: 0;
    width: 54%;
    z-index: 3;
}

.letters {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    filter: opacity(20%);
}

.letter {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.letter:nth-child(1){
    font-size: 300px;
    top: -10%;
    left: 30%;
}

.letter:nth-child(2){
    transform: rotate(90deg);
    font-size: 200px;
    top: 17%;
    left: 60%;
}

.letter:nth-child(3){
    transform: rotate(-90deg);
    font-size: 300px;
    top: 55%;
    left: 13%;
}

.letter:nth-child(4){
    font-size: 150px;
    top: 4%;
    right: 3%;
}

.letter:nth-child(5){
    font-size: 300px;
    top: 5%;
    left: -4%;
}

.letter:nth-child(6){
    font-size: 300px;
    bottom: -13%;
    left: 52%;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\about me\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#aboutme {
}

#aboutme .bg-image {
    background-image: url('/assests/img/aboutme_bg2.jpg');
    filter: opacity(50%);
}

#aboutme>section {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    border-radius: 25px;
    padding: 2vw;
}

.insta-template {
    background-color: white;
    width: 30%;
    aspect-ratio: 2/3;
    /* height: 650px; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 1vw;
    margin-right: 2vw;
}

.upper-items {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
}

.upper-items i {
    position: absolute;
    right: 0;
    color: black;
    font-size: 25px;
}

.upper-items h3 {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 18px;
    margin-left: 7px;
    color: black;
}

.insta-profile {
    background-image: url('/assests/img/insta-profile.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 90%;
    aspect-ratio: 1; 
}

.aboutme-imgs {
    width: 100%;
    aspect-ratio: 1;
    background-color: #121212;
    position: relative;
}
.aboutme-imgs-swiper {
    height: 150%;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.aboutme-imgs .swiper-slide {
    position: relative;
}

.aboutme-imgs img {
    width: 91%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#aboutme .aboutme-imgs-swiper-pagination {
    transform: scale(.5);
}

.insta-icons {
    height: 7%;
    width: 100%;
    position: relative;
    padding-inline: 7px;
}

.insta-icons img {
    height: 90%;
    aspect-ratio: 1;
    cursor: pointer;
    transition: .5s;
    z-index: 20;
}

.insta-icons img:hover{
    transform: scale(1.2);
}

.insta-icons img:last-child {
    margin-top: 2px;
    position: absolute;
    right: 0;
}

.insta-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 7px;
}

.insta-description h3, .insta-description h4 {
    color: black;
    margin-top: 7px;
}

.insta-description h3 {
    font-weight: lighter;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
}

.insta-description h3:nth-child(2)::before {
    content: "dilshan_rangaka ";
    font-weight: 600;
}

.insta-description h4 {
    font-weight: lighter;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 14px;
}

.aboutme-details {
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.short-line {
    width: 130px;
    height: 5px;
    background-color: #00f260;
    margin-bottom: 20px;
    border-radius: 3px;
}

.aboutme-details>p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

p span {
    color: #00f260;
}

.aboutme-details>p:first-child {
    font-weight: bolder;
    font-size: 32px;
}

.aboutme-p2 {
    font-weight: 200;
}

.informations {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 30px;
}

.informations p {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.aboutme-details a button {
    width: 15vw;
    height: 4vw;
    background-color: #00f260;
    color: black;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    margin-top: 30px;
}

.heart-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    /* border: 1px solid red; */
    top: 0;
    left: 0;
    display: none;
    align-items: end;
    overflow: hidden;
}

.heart-animation i {
    transform: translateY(70px);
    font-size: 40px;
    color: #00f260;
    filter: drop-shadow(0 0 10px #00f260);
    animation: heart-animation 2.5s linear var(--delay) infinite;
    z-index: 10;
}

.heart-animation i:nth-child(2n){
    font-size: 60px;
}

#heartBtn {
    animation: pulse 1s ease-in-out infinite;
}

@keyframes heart-animation {
    0% {
        transform: translateY(70px) translateX(0px) scale(0) rotate(0deg);
    }

    33% {
        transform: translateY(-250px) translateX(-15px) scale(.3) rotate(30deg);
    }

    66% {
        transform: translateY(-550px) translateX(15px) scale(.7) rotate(-30deg);
    }

    100% {
        transform: translateY(-800px) translateX(-10px) scale(1) rotate(0deg);
    }
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ resume \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

#resume .bg-image {
    filter: opacity(40%);
    background-image: url('/assests/img/resume_bg2.jpg');
}

.education {
    width: 100%;
    height: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 30px;
    border-radius: 25px;
}

.education>h1, .skills>h1 {
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
}

.education>h1::before, .education>h1::after,  .skills>h1::before,  .skills>h1::after {
    content: "-";
    color: #00f260;
}

.points-line {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.h-line {
    width: 5px;
    height: 100%;
    background-color: #00f260;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.edu-point {
    position: relative;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #121212;
    border: 5px solid #00f260;
}

.edu-des {
    position: absolute;
    width: 40vw;
    /* border: 1px solid blue; */
    top: -5px;
    right: -41vw;
}

.edu-point:nth-child(odd) .edu-des{
    left: -41vw;
}

.edu-point:nth-child(odd) .edu-des h1, .edu-point:nth-child(odd) .edu-des p{
    text-align: right;
}

.edu-des h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    color: #00f260;
    font-weight: 700;
}

.edu-des p {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.edu-point:last-child .point {
    display: none;
}

.edu-point:last-child i {
    position: absolute;
    top: -28px;
    /* transform: rotate(90deg); */
    font-size: 46px;
    color: #00f260;
}

.skills {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 70px;
}

.skills h1 {
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.soft-skills, .hard-skills {
    border-radius: 25px;
    width: 47%;
    height: 70%;
    padding: 30px;
}

.soft-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.soft-skills h3 {
    font-size: 32px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 200;
}

.soft-skills h3::before {
    content: "# ";
    color: #00f260;
}

.hard-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
    align-items: center;
}
.hard-skills img {
    position: relative;
    left: 20%;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ My services \\\\\\\\\\\\\\\\\\\ */

#myservices .bg-image {
    background-image: url('/assests/img/service_bg.jpg');
    filter: opacity(40%);
}

.services {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.service-card {
    position: relative;
    width: 400px;
    aspect-ratio: 3/4;
    overflow: hidden;
    padding: 25px 30px;
}

.service-card .card-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-45deg) scale(1.4);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 242, 96, .3);
}

.card-bg div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    transform: rotate(45deg) scale(.718);
}

.service-card img {
    margin: 10px 0 0 40px
}

.service-card h2 {
    margin-block: 50px 50px;
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
}

.service-card p {
    font-size: 26px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
}

:root {
    --orbit-mask: radial-gradient(circle at center, transparent 70%, white 70%);
}

.solar-system {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;
    margin: auto;
    width: 130%;
    height: 50%;
    transform-style: preserve-3d;
    transform: rotateX(75deg) rotateY(-10deg);
}



.orbit {
    width: var(--orbit-width);
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    animation: orbit-animation var(--rotate-dur) linear infinite;
    
    transform: rotateX(180deg) rotateZ(0deg); 
    transform-style: preserve-3d;
}
@keyframes orbit-animation {
    from {
        transform: rotateZ(360deg) rotateX(0deg);
    }
    50%{
        transform: rotateZ(180deg) rotateX(3deg);
    }
    to {
        transform: rotateZ(0deg) rotateX(0deg);
    }
}

.orbit-ring {
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    background: conic-gradient(
      from 0deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.02),
      rgba(0, 0, 0, 0)
    );
    -webkit-mask: var(--orbit-mask);
    mask: var(--orbit-mask);
}
.eclipse-glow {
    width: 4%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(ellipse at center,  
    rgba(255,255,255,1) 0%, 
    rgba(255,255,255,0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -2%;
    filter: blur(10px);
}

.orbit .eclipse-glow:nth-child(2){
    transform: rotateY(90deg);
}

.orbit .eclipse-glow:nth-child(3){
    transform: rotateX(90deg);
}

.black-hole {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 17%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 50%;
    transform: rotateX(90deg) translateY(0px);
    animation: float-blackhole 10s ease-in-out infinite;
}

@keyframes float-blackhole {
    0%, 100% {
        transform:  rotateX(90deg)  translateY(-20px);
      }
      50% {
        transform:  rotateX(90deg) translateY(20px);
      }
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ My projects \\\\\\\\\\\\\\\\\ */
#projects {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}



#projects .bg-image {
    filter: opacity(40%);
    background-image: url('/assests/img/project_bg2.jpg');
}

.project_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    align-self: center;

}

.project_card {
    background-color: #080A08;
    border-left: 6px solid #30FF68;
    width: 65%;
    height: fit-content;
    position: relative;
    margin-block: 60px;
}

.project_card:nth-child(even) {
    align-self: self-end;
}

.project_icon {
    width: 70px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 30px;
    left: -25px;
    font-size: 40px;
    color: #000000;
    background-color: #30FF68;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.project_icon i {
    font-size: 40px;
    color: #000000;
}

.project_body {
    width: 70%;
    height: fit-content;
    padding: 30px 55px 0;
    z-index: 2;
}

.project_body p:first-child {
    margin: 0;
    color: #30FF68;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.project_body p:first-child span{
    font-weight: 300;
}

.project_body h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 5px 0 20px;
}

.project_body p {
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
}

.project_langs span {
    border-radius: 5px;
    background-color: rgba(48, 255, 48, 0.3);
    padding: 2px 5px;
}

.project_body a{
    color: #30FF68;
    padding: 2px 5px;
}

.project_body a i {
    color: #30FF68;
    font-size: 15px;
    margin-block: 20px;
}

.project_img {
    height: 80%;
    aspect-ratio: 5/3;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -50px;
    transform: perspective(800px) rotateY(-25deg);
    transition-duration: .4s;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.project_img img {
    height: 100%;
}

.project_img_glow {
    background: linear-gradient(to left,
    rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.5) 50%,
       rgba(255, 255, 255, 0.3) 90%,
       rgba(255, 255, 255, 0) 100%);
    width: 20%;
    height: 500%;
    position: absolute;
    transform: rotate(30deg) translateX(-290px);
    top: 0;
    bottom: 0;
    margin: auto;
    transition-duration: .4s;
}

.project_icon {
    animation: float 3s ease-in-out infinite;
}

.project_card:hover .project_img {
    transform: perspective(800px) rotateY(0deg) scale(1.1);
}

.project_card:hover .project_img_glow {
    transform: rotate(30deg) translateX(500px);
}

#projects>a>button {
    color: #080A08;
    background-color: #30FF68;
    border-radius: 5px;
    width: 200px;
    aspect-ratio: 4/1;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: calc(50% - 100px);
}

#projects>a>button>i {
    color: black;
}

#projects>a>button:hover {
    box-shadow: 0 0 10px #30FF68;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ my assignments \\\\\\\\\\\\\ */
#assignments .bg-image {
    background-image: url('/assests/img/assignment_bg.jpg');
    filter: opacity(50%);
}

.assignments {
    padding: 100px 200px;
    margin-top: 50px;
}

.assignments>a>i {
    font-size: 100px;
}

.assignments>a>i:hover {
    color: #30FF68;
}

.swiper-wrapper {
    position: relative;
}

.assignments .assignment_card {
    width: 100%;
    aspect-ratio: 4/1;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #30FF68;
    position: relative;
    cursor: pointer;
}

.assignment_img {
    width: 25%;
    aspect-ratio: 1/1;
    background-image: url("/assests/img/assignment_image.jpg");
    background-size: cover;
    margin-right: 20px;
    box-shadow: 0 0 6px black;
}

.assignment_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.assignment_desc>h3 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.assignment_desc>h3::before {
    content: "ASSIGNMENT - ";
    color: #30FF68;
}
.assignment_desc>p {
    flex-grow: 1;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

:root {
    --assignment-border: 7px;
}

.assignment_card>span {
    border-radius: 20px;
    box-shadow: 0 0 10px #30FF68;
}

.bn1 {
    left: calc(var(--assignment-border) / -2);
    top: calc(var(--assignment-border) / -2);
}

.bn2 {
    right: calc(var(--assignment-border) / -2);
    bottom: calc(var(--assignment-border) / -2);
}

#assignments>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

.dot {
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1/1;
    background: #136027;
    border-radius: 50%;
    margin-inline: 3px;
}
.dot:nth-child(3) {
    width: 1.4rem;
    background: #30FF68;
}

#assignments>a>button {
    color: #080A08;
    background-color: #30FF68;
    border-radius: 5px;
    width: 200px;
    aspect-ratio: 4/1;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: calc(50% - 100px);
    margin-block: 20px;
}

#assignments>a>button>i {
    color: black;
}

#assignments>a>button:hover {
    box-shadow: 0 0 10px #30FF68;
}

.swiper-button-next i, .swiper-button-prev i {
    position: absolute;
    right: 0;
    font-size: 100px;
    color: #00f260;
    filter: drop-shadow(0 0 10px #00f260);
}

.swiper-button-prev i{
    left: 0;
    right: auto;
    transform: rotateY(180deg);
}

.swiper-pagination {
    --swiper-theme-color: #30FF68;
    scale: 2;
}

#assignments .swiper-pagination-bullet {
    background-color: #30FF68;
    opacity: 40%;
}

#assignments .swiper-pagination-bullet-active {
    scale: 1.5;
    opacity: 100%;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ contact me \\\\\\\\\\\\\\\\\\\\\\ */

#contactme .bg-image{
    background-image: url('/assests/img/contactme_bg.jpg');
    filter: opacity(50%);
}

.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_container>p {
    margin: 10px 20%;
    text-align: center;
    color: #30FF68;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.contact_container>section {
    width: 60%;
    padding: 40px;
    margin-inline: 10%;
    border-radius: 25px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form>h3 {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
}

form>label {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-block: 4px;
}

form>input, form>textarea{
    background-color: #2D2D2D;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-block: 4px;
}

form>textarea {
    min-height: 8rem;
}

form>button {
    color: #080A08;
    background-color: #30FF68;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
}

form>button:hover {
    box-shadow: 0 0 10px #30FF68;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ footer ////////////////////////////////// */

hr {
    border: 1px solid #30ff67;
}

footer>p {
    text-align: center;
    margin-block: 30px;
    font-size: 20px;
    color: #30FF68;
    font-family: 'Jura', sans-serif;
}

/* ===================================================================== */


.glass_pane {
    --glass-color: rgba(255, 255, 255, 0.01);

    background: linear-gradient(to right, var(--glass-color), var(--glass-color) );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(48, 255, 104, .25);
}

@keyframes float {
    0%, 100% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }
}

.green-text {
    color: #00f260;
    font-size: var(--size);
}

/* -----------------media querries------------------------- */


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 1520px) {
    .title {
        margin-block: 6vw 4vw;
    }
    .title h2 {
        font-size: 28px;
    }
    .title h1 {
        font-size: 70px;
    }

    .title-line {
        height: 8px;
    }

    .logo {
        font-size: 7vw;
    }

    /* \\\\\\\\\\\\\\\\\\\\\ home \\\\\\\\\\\\\\\\\\\\\\\\\ */

    #home>section>h1 {
        font-size: 120px;
    }
    #home>section>h3 {
        font-size: 40px;
    }
    #home>section>h4 {
        font-size: 30px;
    }
    #home>section>button {
        font-size: 18px;
    }

    .hero_img_body>.circle_line {
        border: 8px solid #00f260;
    }
    .letter:nth-child(1){
        font-size: 200px;
    }
    
    .letter:nth-child(2){
        font-size: 130px;
    }
    
    .letter:nth-child(3){
        font-size: 180px;
    }
    
    .letter:nth-child(4){
        font-size: 100px;
    }
    
    .letter:nth-child(5){
        font-size: 200px;
    }
    
    .letter:nth-child(6){
        font-size: 200px;
    }
    /* \\\\\\\\\\\\\\\\\\\\\\ about me \\\\\\\\\\\\\\\\\\\\ */
    .insta-template {
        width: 28%;
    }
    .upper-items h3 {
        font-size: 15px;
    }
    .upper-items i {
        font-size: 18px;
    }
    .insta-description h3 {
        font-size: 13px;
    }
    .insta-description h4 {
        font-size: 12px;
    }
    .short-line{
        height: 4px;
    }

    .aboutme-details>p:first-child {
        font-size: 24px;
    }

    .aboutme-details>p {
        font-size: 20px;
    }

    .informations {
        gap: 20px;
    }
    .informations p {
        font-size: 18px;
    }
        
    .aboutme-details a button {
        font-size: 20px;
    }

    /* \\\\\\\\\\\\\\\\\\\ resume ///////////////// */

    .education>h1, .skills>h1 {
        font-size: 35px;
    }

    .education {
        height: 1300px;
    }

    .h-line {
        width: 4px;
    }
    .point {
        border: 4px solid #00f260;
    }

    .edu-des h1 {
        font-size: 30px;
    }
    .edu-des p {
        font-size: 22px;
    }

    .skills {
        height: 550px;
    }

    .soft-skills h3 {
        font-size: 24px;
    }

    .hard-skills img {
        aspect-ratio: 1;
        width: 90px;
    }
    /* /////////////////// services \\\\\\\\\\\\\\\\\ */

    .service-card {
        width: 320px;
        padding: 20px 25px;
    }

    .service-card img {
        width: 80px;
        margin: 8px 0 0 25px;
    }

    .service-card h2 {
        font-size: 24px;
        margin-block: 40px 40px
    }

    .service-card p {
        font-size: 17px;
    }
    
    /* \\\\\\\\\\\\\\\\\\\ projects ////////////////// */

    .project_card {
        width: 90%;
    }
    .project_body h2 {
        margin: 0;
        color: #30FF68;
        font-family: 'Montserrat', sans-serif;
    }
    
    .project_body h1 {
        font-size: 35px;
    }
    
    .project_body p {
        font-size: 18px;
    }
    .project_body a i {
        font-size: 13px;
    }

    .project_img {
        height: 75%;
    }

    /* //////////////////// assignments ///////////////////// */
    .assignment_desc>h3 {
        font-size: 28px;
    }
    .assignment_desc>p {
        font-size: 18px;
    }


    /* /////////////////////// contact me ////////////////////// */

    form>h3 {
        font-size: 30px;
    }
    
    form>label {
        font-size: 18px;
    }
    
    form>input, form>textarea{
        font-size: 18px;
    }
    
    form>input {
        height: 2rem;
    }
    
    form>textarea {
        min-height: 6rem;
    }
    
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width: 1100px) {
    :root {
        --header-height: 6vw;
    }
    .title {
        margin-block: 3vw 1vw;
    }
    .title h2 {
        font-size: 22px;
    }
    .title h1 {
        font-size: 50px;
    }

    .title-line {
        height: 5px;
    }

    .logo {
        font-size: 9.5vw;
    }

    /* \\\\\\\\\\\\\\\\\\\\\ home \\\\\\\\\\\\\\\\\\\\\\\\\ */

    #home>section>h1 {
        font-size: 80px;
    }
    #home>section>h3 {
        font-size: 30px;
    }
    #home>section>h4 {
        font-size: 24px;
    }
    #home>section>button {
        font-size: 14px;
    }
    .hero_img_body>.circle_line {
        border: 5px solid #30FF68;
    }
    .letter:nth-child(1){
        font-size: 150px;
        top: -2%;
    }
    
    .letter:nth-child(2){
        font-size: 100px;
    }
    
    .letter:nth-child(3){
        font-size: 150px;
    }
    
    .letter:nth-child(4){
        font-size: 90px;
    }
    
    .letter:nth-child(5){
        font-size: 180px;
    }
    
    .letter:nth-child(6){
        font-size: 160px;
        bottom: -13%;
        left: 52%;
    }
    /* \\\\\\\\\\\\\\\\\\\\\\ about me \\\\\\\\\\\\\\\\\\\\ */

    #aboutme>section {
        flex-direction: column;
    }

    .insta-template {
        padding: .6vw;
        margin-right: 0;
        margin-bottom: 2vw;
        width: 35%;
        aspect-ratio: 3/4;
    }

    .upper-items h3 {
        font-size: 15px;
    }
    .upper-items i {
        font-size: 18px;
    }

    .insta-icons {
        height: 8%;
    }

    .aboutme-details{
        width: 100%;
    }

    .aboutme-details>p:first-child {
        font-size: 20px;
    }

    .aboutme-details>p {
        font-size: 17px;
    }

    .informations {
        gap: 10px;
    }

    .informations p {
        font-size: 16px;
    }
        
    .aboutme-details a button {
        font-size: 15px;
    }

    /* \\\\\\\\\\\\\\\\\\\ resume ///////////////// */

    .education>h1, .skills>h1 {
        font-size: 26px;
    }

    .education {
        height: 800px;
    }

    .h-line {
        width: 3px;
    }
    .point {
        border: 3px solid #00f260;
    }

    .edu-des h1 {
        font-size: 22px;
    }
    .edu-des p {
        font-size: 16px;
    }

    .skills {
        height: 450px;
    }

    .soft-skills h3 {
        font-size: 18px;
    }

    .hard-skills img {
        aspect-ratio: 1;
        width: 60px;
        left: 25%;
    }

    /* /////////////////// services \\\\\\\\\\\\\\\\\ */

    .service-card {
        width: 250px;
        padding: 10px 15px;
    }

    .service-card img {
        width: 50px;
        margin: 4px 0 0 15px;
    }

    .service-card h2 {
        font-size: 18px;
        margin-block: 30px 30px
    }

    .service-card p {
        font-size: 16px;
    }
    
    /* \\\\\\\\\\\\\\\\\\\ projects ////////////////// */

    .project_card {
        width: 100%;
    }
    
    .project_body h1 {
        font-size: 28px;
    }
    
    .project_body p {
        font-size: 14px;
    }
    .project_body a i {
        font-size: 10px;
    }

    .project_img {
        height: 70%;
    }

    /* //////////////////// assignments ///////////////////// */
    .assignment_desc>h3 {
        font-size: 20px;
    }
    .assignment_desc>p {
        font-size: 14px;
    }


    /* /////////////////////// contact me ////////////////////// */

    form>h3 {
        font-size: 20px;
    }
    
    form>label {
        font-size: 14px;
    }
    
    form>input, form>textarea{
        font-size: 14px;
    }
    
    form>input {
        height: 1.5rem;
    }
    
    form>textarea {
        min-height: 5rem;
    }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width: 850px) {
    :root {
        --header-height: 8vw;
    }
    
    .title {
        margin-block: 2vw 1vw;
    }
    .title h2 {
        font-size: 16px;
    }
    .title h1 {
        font-size: 40px;
    }

    .title-line {
        height: 4px;
    }

    .logo {
        font-size: 11.5vw;
    }
    /* //////////////////////// header //////////////////////// */

    .social_medias {
        position: absolute;
        top: 25vh;
    }

    .social_medias img {
        width: 5vw;
    }

    .social_medias li {
        width: 6vw;
    }

    .nav {
        display: none;
    }

    .menu i {
        display: inline;
        color: #00f260;
        font-size: 26px;
    }

    /* ///////////////////////////// home ///////////////////////// */

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 0;
    }

    #home section {
        position: relative;
        padding: 0;
    }

    .hero_img_body {
        width: 90vw;
        position: relative;
        right: 0;
    }

    #home section button {
        width: 25vw;
        font-size: 16px;
    }

    #home>section> .btn-ani{
        left: 22vw;
    }

    .letter:nth-child(1){
        font-size: 150px;
        top: 0%;
    }
    
    .letter:nth-child(2){
        font-size: 100px;
        top: 28%;
        left: 60%;
    }
    
    .letter:nth-child(3){
        font-size: 130px;
        top: 45%;
    }
    
    .letter:nth-child(4){
        font-size: 80px;
        top: 4%;
        right: 4%;
    }
    
    .letter:nth-child(5){
        font-size: 200px;
        top: 14%;
        left: -7%;
    }
    
    .letter:nth-child(6){
        font-size: 160px;
        bottom: -3%;
        left: 75%;
    }
    /* //////////////////////////////// about me ///////////////////// */

    .insta-template {
        padding: 1vw;
        width: 55%;
        aspect-ratio: 3/4;
    }

    .upper-items h3 {
        font-size: 13px;
    }
    .upper-items i {
        font-size: 16px;
    }

    .insta-icons {
        height: 7%;
    }

    .aboutme-details{
        width: 100%;
    }

    .aboutme-details>p:first-child {
        font-size: 17px;
    }

    .aboutme-details>p {
        font-size: 15px;
    }

    .informations {
        gap: 10px;
    }

    .informations p {
        font-size: 16px;
    }
        
    .aboutme-details a button {
        width: 30%;
        font-size: 14px;
    }

    /* //////////////////////////////// resume ////////////////////// */
    
    .education>h1, .skills>h1 {
        font-size: 23px;
    }

    .education {
        height: 600px;
    }

    .edu-des h1 {
        font-size: 18px;
    }
    .edu-des p {
        font-size: 13px;
    }

    .edu-point:last-child i {
        top: -21px;
        font-size: 28px;
    }

    .skills {
        height: 600px;
    }

    .soft-skills h3 {
        font-size: 16px;
    }

    .hard-skills {
        grid-template-columns: repeat(2, 1fr);
    }
    .hard-skills img {
        aspect-ratio: 1;
        width: 50px;
        left: 28%;
    }

    /* ///////////////////////////////// services ///////////////////////// */

    .service-card {
        width: 380px;
        padding: 15px 20px;
        margin-block: 30px;
    }

    .service-card img {
        width: 70px;
        margin: 10px 0 0 25px;
    }

    .service-card h2 {
        font-size: 25px;
        margin-block: 40px 40px
    }

    .service-card p {
        font-size: 18px;
    }

    #myservices>section {
        flex-direction: column;
        align-items: start;
    }

    #myservices>section>div:nth-child(2) {
        align-self: center;
    }

    #myservices>section>div:nth-child(3) {
        align-self: flex-end;
    }

    .solar-system {
        width: 150%;
        transform: rotateX(75deg) rotateY(-20deg);
        bottom: 500px;
    }

    /* /////////////////////////// projects /////////////////////// */

    
    .project_body h1 {
        font-size: 32px;
    }
    
    .project_body p {
        font-size: 16px;
    }
    .project_body a i {
        font-size: 12px;
    }

    .project_body {
        width: 100%;
    }
    .project_img {
        width: 60%;
        position: relative;
    }

    /* ////////////////////////////// assignments ///////////////////// */

    .assignment_card {
        flex-direction: column;
        align-items: center;
    }
    .assignment_img {
        width: 35%;
        margin: 0 0 20px 0;
    }

    #assignments>section>a>i {
        font-size: 70px;
    }

    /* ///////////////////////////// contact me //////////////////////////////// */

    .contact_container>p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .contact_container>section {
        padding: 15px;
        border-radius: 10px;
        width: 80%;
    }

    form {
        margin: 0;
    }

    form> h3 {
        margin-bottom: 10px;
    }

    /* //////////////////////////// footer ///////////////////////////// */
    footer>p {
        font-size: 16px;
    }
    
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width: 580px) {
    :root {
        --header-height: 12vw;
    }

    .social_medias {
        /* display: none; */
        right: 1vw;
    }
    
    .title {
        margin-block: 2vw 1vw;
    }
    .title h2 {
        font-size: 16px;
    }
    .title h1 {
        font-size: 40px;
    }

    .title-line {
        height: 4px;
    }

    .logo {
        font-size: 15vw;
    }

    /* ///////////////////////////////// home /////////////// */

    #home>section>h1 {
        font-size: 80px;
    }
    #home>section>h3 {
        font-size: 30px;
    }
    #home>section>h4 {
        font-size: 25px;
    }
    #home>section>button {
        font-size: 14px;
    }
    .hero_img_body>.circle_line {
        border: 4px solid #30FF68;
    }
    #home section button {
        width: 35vw;
        font-size: 15px;
    }

    #home>section> .btn-ani{
        left: 31vw;
        width: 9vw;
    }
    
    .btn-ani .orbit .orbit-ring{
        -webkit-mask: radial-gradient(circle at center, transparent 55%, white 55%);
    }
    .letter:nth-child(1){
        font-size: 150px;
        top: 0%;
    }
    
    .letter:nth-child(2){
        font-size: 70px;
        top: 34%;
        left: 67%;
    }
    
    .letter:nth-child(3){
        font-size: 130px;
        top: 45%;
    }
    
    .letter:nth-child(4){
        font-size: 80px;
        top: 4%;
        right: 4%;
    }
    
    .letter:nth-child(5){
        font-size: 200px;
        top: 10%;
        left: -20%;
    }
    
    .letter:nth-child(6){
        font-size: 150px;
        bottom: -13%;
        left: 70%;
    }
    /* /////////////////// about me /////////////////// */

    #aboutme> section {
        margin-top: 70px;
    }

    .insta-template {
        padding: 2vw;
        width: 100%;
        margin-bottom: 5vw;
    }
    .upper-items i {
        font-size: 18px;
    }

    .insta-icons {
        height: 7%;
    }

    .informations {
        gap: 15px;
        grid-template-columns: 1fr;
    }
        
    .aboutme-details a button {
        margin-top: 10px;
        width: 40%;
        height: 40px;
    }

    /* //////////////////// resume //////////////// */

    .points-line {
        align-items: start;
    }

    .h-line {
        right: auto;
        left: 2.2%;
        width: 2px;
    }

    .edu-point {
        width: 5%;
    }

    .edu-des {
        margin-top: 5px;
        width: 70vw;
        right: -71vw;
    }

    .point {
        border: 2px solid #00f260;
    }
    .edu-point:nth-child(odd) .edu-des{
        left: auto;
    }
    
    .edu-point:nth-child(odd) .edu-des h1, .edu-point:nth-child(odd) .edu-des p{
        text-align: left;
    }

    .skills {
        flex-direction: column;
    }

    .soft-skills, .hard-skills {
        margin-top: 40px;
        width: 100%;
        padding: 15px;
        grid-template-columns: repeat(3, 1fr);
    }

    .hard-skills img {
        width: 60px;
        left: 22%;
    }

    /* ///////////////////////////////// services ///////////////////////// */

    .service-card {
        width: 380px;
        padding: 15px 20px;
        align-self: center;
    }

    .service-card img {
        width: 70px;
        margin: 10px 0 0 25px;
    }

    .service-card h2 {
        font-size: 25px;
        margin-block: 40px 40px
    }

    .service-card p {
        font-size: 18px;
    }

    #myservices>section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* ///////////////////////////////// services ///////////////////////// */

    .service-card {
        width: 75%;
        padding: 15px 20px;
    }

    .service-card img {
        width: 60px;
        margin: 10px 0 0 25px;
    }

    .service-card h2 {
        font-size: 25px;
        margin-block: 30px 30px
    }

    .service-card p {
        font-size: 18px;
    }

    #myservices>section {
        flex-direction: column;
        align-items: start;
    }

    .service-card {
        margin-block: 30px;
    }

    #myservices>section>div:nth-child(3) {
        align-self: center;
    }

    .solar-system {
        bottom: 300px;
        width: 200%;
    }
    /* //////////////////project ////////////////// */
    .project_img {
        width: 80%;
        right: -30px;
    }

    /* //////////////////////// assignments ////////////////// */
    
    .assignment_img {
        width: 45%;
    }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width: 400px) {
    :root {
        --header-height: 14vw;
    }

    .title h2 {
        font-size: 14px;
    }
    .title h1 {
        font-size: 30px;
    }

    .title-line {
        height: 2px;
    }

    .logo {
        font-size: 17.5vw;
    }

    #home section button {
        width: 38vw;
        font-size: 13px;
    }

    /* //////////////////////////////// resume ////////////////////// */

    .insta-template {
        width: 100%;
    }

    /* ///////////////////////// services /////////////////////// */

    /* /////////////////////////// project /////////////////// */

    .project_icon {
        top: 50px;
        width: 50px;
    }

    .project_icon i {
        font-size: 30px;
    }

    .project_body h2 {
        font-size: 20px;
    }

    .project_body h1 {
        font-size: 24px;
    }

    .project_body p {
        font-size: 16px;
    }

    .project_img {
        right: -20px;
    }

    /* ////////////////////////// assignments /////////////////////// */
    .assignment_img {
        width: 50%;
        margin: 0 0 20px 0;
    }
    .assignment_desc>h3 {
        font-size: 17px;
    }
    .assignment_desc>p {
        font-size: 12px;
    }

    /* ////////////////////// contact me /////////////////// */

    .contact_container p {
        width: 100%;
        font-size: 16px;
    }

    .contact_container>section {
        margin: 0;
    }
}