@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body{
  background: #000;
}

* {
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.gradient {
  background: radial-gradient(rgba(48, 255, 103, 0.3), #0000 65%);
  z-index: -1;
  animation: glow 4s ease-in-out infinite, float 5s infinite ease-in-out, move 6s infinite ease-in-out;
  /* animation-delay: 5s; */
}

.gradient-line {
  background: linear-gradient(to bottom, rgb(48, 255, 103), #0000 70%);
}

.gradient-line-h {
  background: linear-gradient(to right, rgb(48, 255, 103), #0000 70%);
}

.service-card {
  clip-path: polygon(0 0, 79% 0, 100% 15%, 100% 100%, 21% 100%, 0 84%);
}

.service-card-body {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  clip-path: polygon(0 0, 79% 0, 100% 15%, 100% 100%, 21% 100%, 0 84%);
}

.prj-img-3d {
  transform: perspective(800px) rotateY(-25deg);
}

.glow {
  animation: glow 3s ease-in-out infinite;
}


@keyframes glow {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(70);
  }
  50% {
    transform: translateY(-70px);
  }
}

@keyframes move {
  0%,
  100% {
    translate: 50px;
  }
  50% {
    translate: -50px;
  }
}
